@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}

.logo {
  margin-bottom: 10px;
  margin-right: 30px;
}
.navBar-cont {
  padding-top: 12px;
  padding-bottom: 8px;
  list-style-type: none;
  font-style: normal;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(134, 131, 131, 0.5);
}
.navShadow {
  box-shadow: 0px 0px 10px rgba(134, 131, 131, 0.5);
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: underline;
}
input[type="search"] {
  margin-left: 550px;
  margin-top: 30px;
  border: 2px solid #333;
  padding: 8px;
  border-radius: 10px;
  width: 750px;
  height: 60px;
  outline-style: none;
  outline: none;
  border-color: #d8d8d8;
}
/* Inside src/index.css or src/App.css */

.hover-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #3498db;
  transition: width 0.3s ease;
  margin-top: 2px;
}

.hover-underline:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  a {
    font-size: 14px;
  }
}
